<html>
<body>

	<p>Get your greeting <a href="/sayhello">Click</a></p>

	<br>
	<a href="http://www.google.com">Click</a>
	<br>
	<br>
	<img src="/images/Sasuke.jpg" alt="image not present" width=200 height=200>
	<br>
	<br>
	<a href="http://www.google.com"><img src="/images/Goku.jpg" alt="image not present" width=200 height=200></a>
	<br>
	<br>
<table border=1>
	<th>ID</th>
	<th>NAME</th>
	<tr>
	<td>1</td>
	<td>abc</td>
	</tr>
	<tr>
	<td>2</td>
	<td>xyz</td>
	</tr>
	<tr>
	<td>3</td>
	<td>pqr</td>
	</tr>
</table>
</body>
</html>